<div class="main-content">

  <div class="loading-section"
        *ngIf="!items">
          Loading...  
  </div>

  <div *ngIf="items">
    <ol start="{{ listStart }}">
        <li 
        class="post"
        *ngFor="let item of items">
            
            <item class="item-block" 
                  [item]="item"></item>

        </li>
    </ol>
    <div class="nav">
        <a *ngIf="pageNum !== 1"
            [routerLink]="['/' + storiesType, pageNum - 1]" 
            class="prev"> ‹ Prev </a>
        <a *ngIf="items.length === 30"
            [routerLink]="['/'+ storiesType, pageNum + 1]"
             class="more"> More › </a>
    </div>
  </div>

</div>